.theme-entry {
  --layout-cell-padding-top: 0.2rem;
  --layout-cell-padding-bottom: 0.2rem;
  --layout-cell-padding-left: 0.2rem;
  --layout-cell-padding-right: 0.2rem;
.theme-entry .tab-box:not(.form-tabs) > .tab-box-body > * {
  --layout-cell-padding-top: 0.2rem;
  --layout-cell-padding-bottom: 0.2rem;
  --layout-cell-padding-left: 0.2rem;
  --layout-cell-padding-right: 0.2rem;
}